
html
    head
        title MetDraw
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
        style
            .form-horizontal .control-label { width: 250px; }
            .form-horizontal .controls { margin-left: 275px; }
    body
        input#sessionid(type="hidden",value=sessionid)
        div.container
            h1 Welcome to MetDraw
            ul#main-tabs.nav.nav-tabs
                li.active
                    a(href="#instructions-tab", data-toggle="tab") Instructions
                li
                    a(href="#parameters-tab", data-toggle="tab") Parameters
                li
                    a(href="#minors-tab", data-toggle="tab") Select Minors
                li
                    a(href="#render-tab", data-toggle="tab") Render
            div.tab-content
                div#instructions-tab.tab-pane.active
                    p.lead Click on the above tabs to prepare and run Metdraw.
                    dl.dl-horizontal
                        dt Parameters
                        dd Set rendering parameters to optimize the layout of your network.
                        dt Select Minors
                        dd Choose metabolites that should be re-drawn for each reaction (ATP, water, etc.)
                        dt Render
                        dd Run MetDraw and download the results.
                div#parameters-tab.tab-pane
                    p.lead Set rendering parameters to optimize the layout of your network.
                    form#parameters.form-horizontal
                        table.table.table-hover
                            thead
                                tr
                                    th Parameter
                                    th Value
                                    th Description
                            each param,key in syntax
                                unless (syntax[key].show === "none")
                                    tr
                                        td #{param.label}

                                        td
                                            if (syntax[key].show === "text")
                                                if (syntax[key].type === "string")
                                                    input.param(type="text", id="#{key}", value="#{params[key]}",
                                                                data-type="#{syntax[key].type}",
                                                                data-name="#{key}")
                                                else
                                                    input.param.input-small(type="text", id="#{key}",
                                                                            value="#{params[key]}",
                                                                            data-type="#{syntax[key].type}",
                                                                            data-name="#{key}")

                                            if (syntax[key].show === "checkbox")
                                                if (params[key])
                                                    input.param(type="checkbox", checked="true",
                                                                data-type="#{syntax[key].type}",
                                                                data-name="#{key}")
                                                else
                                                    input.param(type="checkbox",
                                                                data-type="#{syntax[key].type}",
                                                                data-name="#{key}")

                                            if (syntax[key].show === "textarea")
                                                textarea.param.span4(rows="6",
                                                                     data-type="#{syntax[key].type}",
                                                                     data-name="#{key}") #{JSON.stringify(params[key])}
                                        td #{param.help}



                div#minors-tab.tab-pane
                    p.lead
                        | Identify minor (or "currency") metabolites.
                    p
                        | These metabolites will be
                        | re-drawn for every reaction -- MetDraw will not try to connect minor metabolites
                        | that appear in separate reactions.  Common minor metabolites include ATP, H<sub>2</sub>O,
                        | CO<sub>2</sub>, cofactors, and inorganics.
                    form#parameters
                        table.table.table-hover.table-condensed.table-bordered
                            thead
                                tr
                                    td
                                        b Minor?
                                    td
                                        b # of reactions
                                    td
                                        b Metabolite ID
                            tbody
                                each count in counts
                                    tr
                                        td
                                            if (count.minor)
                                                input.minor(type="checkbox", checked="#{is_checked}",
                                                            data-name="#{count.name}",
                                                            data-count="#{count.count}")
                                            else
                                                input.minor(type="checkbox",
                                                            data-name="#{count.name}",
                                                            data-count="#{count.count}")
                                        td #{count.count}
                                        td #{count.name}
                div#render-tab.tab-pane
                    center
                        input#render.btn.btn-primary.btn-large(type="submit", value="Render with MetDraw")
                    br
                    div#status
                    br
                    div#warnings
                    div#results
                    div#preview
                    br
                    div#run-message
                    div#send-params
                    div#send-minors
                    div#results



//script(src="http://code.jquery.com/jquery-1.7.2.min.js")
script(src="/javascripts/jquery-1.7.2.min.js")
script(src="/bootstrap/js/bootstrap.min.js")
script(src="/javascripts/metdraw_client.js")
